html{
  height:100%;
}
body{
  background-image: url('images/b9r5sEL.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.all
{
  width:100%;
  min-width: 2050px;
  margin:auto;
  position:absolute;
  top:45%
}

.drum{
  height:115px;
  width:9%;
  border: solid 5px black ;
  display: inline-block;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
/*background-color:black;
  opacity:0.3;
  background-clip: padding-box;*/
}
h1{
  color: white;
  font-size: 50px;
  font-family:monospace;
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0PX;
}
p{
  color: orange;
  font-size: 15px;
  font-family:Arial;
  line-height: 15px;
  text-align: center;
  font-weight:lighter;
  margin-top: 8px;
}
